@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #0d0d2b;
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --blue: #3671e9;
  --purple: #2b076e;
}

body {
  background: #3823b7;
  background: -webkit-linear-gradient(top left, #3823b7, #0e0e2b);
  background: -moz-linear-gradient(top left, #3823b7, #0e0e2b);
  background: linear-gradient(to bottom right, #3823b7, #0e0e2b);
  font-family: "Rubik", sans-serif;
  color: var(--white);
}

.header {
  max-width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin-left: 32px;
}
.nav-link--login {
  margin-left: 56px;
  border-right: 1px solid rgb(242, 242, 242, 0.3);
  padding-right: 24px;
  font-weight: 500;
  transition: 0.2s ease color;
}
.nav-link--register {
  margin-left: 24px;
  background-color: var(--blue);
  padding: 14px 32px;
  border-radius: 32px;
  font-weight: 500;
  transition: 0.2s ease background-color;
}
.nav-link {
  color: var(--white);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--blue);
}
.nav-link--register:hover {
  background-color: var(--purple);
  color: var(--white);
}

.wrapper {
  max-width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.main-text {
  flex: 0 0 600px;
}

.main-text__sale {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 12px 10px 4px;
  border-radius: 32px;
  font-size: 14;
  /* margin-right: 13px; */
}

.main-text__sale span {
  background-color: var(--white);
  color: var(--dark);
  border-radius: 32px;
  padding: 7px 18px;
  font-weight: 500;
  margin-right: 13px;
}

.main-text__title {
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 700;
  margin-top: 26px;
  line-height: 1.2;
}

.main-text__description {
  color: #e0e0e0;
  line-height: 1.5;
  margin-bottom: 50px;
  max-width: 435px;
}

.main-img {
  flex-grow: 1;
}

.main-img__image {
  width: 100%;
}

.main-text__link {
  text-decoration: none;
  padding: 16px 24px;
  background-color: var(--blue);
  border-radius: 32px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
}

.main-text__link:hover {
  background-color: var(--purple);
  color: var(--white);
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 180px;
}

.stat-item {
  display: flex;
  align-items: center;
}
.stat-item__icon_01,
.stat-item__icon_02,
.stat-item__icon_03 {
  background: rgba(255, 255, 255, 0.1);
  padding: 24px;
  border-radius: 42px;
}

.stat-item__text {
  margin-left: 24px;
  font-size: 16px;
  margin-top: 10px;
}

.stat-item__text span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  color: var(--white);

  margin-bottom: 10px;
}

.text {
  text-align: center;
  padding-bottom: 220px;
}

.text__title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 216px;
  margin-bottom: 24px;
}

.text__description {
  font-size: 18px;
  line-height: 1.5;
  max-width: 630px;
  margin: 0 auto;
}

.calc-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fbfcfe;
  border-radius: 16px 16px 0px 0px;

  max-width: 942px;
  padding-top: 60px;
  margin: 0 auto;
  padding-bottom: 48px;
  box-sizing: border-box;
}

.calc-head__input {
  font-size: 20px;
  line-height: 150%;
  color: #0d0d2b;
  font-weight: 400;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  flex: 1;
  margin-left: 48px;
  background: #fbfcfe;
}

.calc-head__input::placeholder {
  color: var(--dark);
}
.calc-head__input::after {
  color: gray;
}

.calc-head__select {
  font-size: 20px;
  line-height: 150%;
  color: #0d0d2b;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  flex: 0 0 200px;
  padding-bottom: 8px;
  margin-left: 48px;
  appearance: none;
  background: #fbfcfe;
}

.calc-head__button {
  font-size: 18px;
  color: var(--white);
  background-color: var(--blue);
  padding: 16px 0px;
  border-radius: 32px;
  font-weight: 500;
  transition: 0.2s ease background-color;
  border: none;
  flex: 0 0 146px;
  margin-left: 48px;
  margin-right: 48px;
}

.calc-head__button:hover {
  background-color: var(--purple);
}

.calc-foot {
  display: block;
  align-items: center;
  background: #fbfcfe;
  border-radius: 0px 0px 16px 16px;

  max-width: 942px;
  padding-top: 48px;
  margin: 0 auto;
}

.calc-foot__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--blue);
  margin-left: 48px;
  padding-bottom: 0px;
  margin-bottom: 4px;
}
.calc-foot__total {
  font-size: 32px;
  line-height: 150%;
  color: var(--dark);
  font-weight: 500;
  margin-bottom: 4px;
  margin-left: 48px;
  margin-top: 0;
}
.calc-foot__total span {
  font-size: 32px;
  line-height: 150%;
  color: var(--blue);
  font-weight: 700;
}
.calc-foot__descriotion {
  font-size: 16px;
  line-height: 28px;
  color: #828282;
  font-weight: 400;
  margin: 0;
  margin-left: 48px;
  padding-bottom: 48px;
}
