@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --dark: #0d0d2b;
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --blue: #3671e9;
  --purple: #2b076e;
}

body {
  background: var(--dark);

  font-family: "Rubik", sans-serif;
  color: var(--white);
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

.header {
  max-width: 1202%;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  margin-left: 22px;
}
.nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin-left: 32px;
}
.nav-link--login {
  margin-left: 56px;
  border-right: 1px solid rgb(242, 242, 242, 0.3);
  padding-right: 24px;
  font-weight: 500;
  transition: 0.2s ease color;
}
.nav-link--register {
  margin-left: 24px;
  background-color: var(--blue);
  padding: 14px 32px;
  border-radius: 32px;
  font-weight: 500;
  transition: 0.2s ease background-color;
}
.nav-link {
  color: var(--white);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--blue);
}
.nav-link--register:hover {
  background-color: var(--purple);
  color: var(--white);
}

.wrapper {
  max-width: 1202px;

  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.main-text {
  flex: 0 0 600px;
}

.main-text__sale {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 12px 10px 4px;
  border-radius: 32px;
  font-size: 14;
  /* margin-right: 13px; */
}

.main-text__sale span {
  background-color: var(--white);
  color: var(--dark);
  border-radius: 32px;
  padding: 7px 18px;
  font-weight: 500;
  margin-right: 13px;
}

.main-text__title {
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 700;
  margin-top: 26px;
  line-height: 1.2;
}

.main-text__description {
  color: #e0e0e0;
  line-height: 1.5;
  margin-bottom: 50px;
  max-width: 435px;
}

.main-img {
  flex-grow: 1;
}

.main-img__image {
  width: 100%;
}

.main-text__link {
  text-decoration: none;
  padding: 16px 24px;
  background-color: var(--blue);
  border-radius: 32px;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
}

.main-text__link:hover {
  background-color: var(--purple);
  color: var(--white);
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 180px;
}

.stat-item {
  display: flex;
  align-items: center;
}
.stat-item__icon_01,
.stat-item__icon_02,
.stat-item__icon_03 {
  background: rgba(255, 255, 255, 0.1);
  padding: 24px;
  border-radius: 42px;
}

.stat-item__text {
  margin-left: 24px;
  font-size: 16px;
  margin-top: 10px;
}

.stat-item__text span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  color: var(--white);

  margin-bottom: 10px;
}

.text {
  text-align: center;
  padding-bottom: 220px;
}

.text__title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 216px;
  margin-bottom: 24px;
}

.text__description {
  font-size: 18px;
  line-height: 1.5;
  max-width: 630px;
  margin: 0 auto;
}

.calc-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fbfcfe;
  border-radius: 16px 16px 0px 0px;

  max-width: 942px;
  padding-top: 60px;
  margin: 0 auto;
  padding-bottom: 48px;
  box-sizing: border-box;
}

.calc-head__input {
  font-size: 20px;
  line-height: 150%;
  color: #0d0d2b;
  font-weight: 400;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  flex: 1;
  margin-left: 48px;
  background: #fbfcfe;
}

.calc-head__input::placeholder {
  color: var(--dark);
}
.calc-head__input::after {
  color: gray;
}

.calc-head__select {
  font-size: 20px;
  line-height: 150%;
  color: #0d0d2b;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  flex: 0 0 200px;
  padding-bottom: 8px;
  margin-left: 48px;
  appearance: none;
  background: #fbfcfe;
}

.calc-head__button {
  font-size: 18px;
  color: var(--white);
  background-color: var(--blue);
  padding: 16px 0px;
  border-radius: 32px;
  font-weight: 500;
  transition: 0.2s ease background-color;
  border: none;
  flex: 0 0 146px;
  margin-left: 48px;
  margin-right: 48px;
}

.calc-head__button:hover {
  background-color: var(--purple);
}

.calc-foot {
  display: block;
  justify-content: space-between;
  align-items: center;
  background: #fbfcfe;
  border-radius: 0px 0px 16px 16px;
  max-width: 942px;
  padding-top: 48px;
  margin: 0 auto;

  -webkit-box-shadow: 0px 123px 300px 76px rgba(223, 226, 240, 0.91);
  -moz-box-shadow: 0px 123px 300px 76px rgba(223, 226, 240, 0.91);
  box-shadow: 0px 123px 300px 76px rgba(223, 226, 240, 0.91);
}

.calc-foot__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--blue);
  margin-left: 48px;
  padding-bottom: 0px;
  margin-bottom: 4px;
}
.calc-foot__total {
  font-size: 32px;
  line-height: 150%;
  color: var(--dark);
  font-weight: 500;
  margin-bottom: 4px;
  margin-left: 48px;
  margin-top: 0;
}
.calc-foot__total span {
  font-size: 32px;
  line-height: 150%;
  color: var(--blue);
  font-weight: 700;
}
.calc-foot__descriotion {
  font-size: 16px;
  line-height: 28px;
  color: #828282;
  font-weight: 400;
  margin: 0;
  margin-left: 48px;
  padding-bottom: 48px;
}

.page-light {
  background: rgb(248, 249, 251);
  background: radial-gradient(
    circle,
    rgba(248, 249, 251, 1) 0%,
    rgba(250, 251, 255, 1) 100%
  );
  padding-bottom: 100px;
}

.page-light__test {
  font-size: 40px;
  text-align: center;
  color: #0d0d2b;
  max-width: 741px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 100px;
}

.crypto {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.crypto-item {
  background-color: var(--white);
  color: var(--dark);
  border-radius: 16px;
  flex: 0 0 30.7%;
  padding: 24px 24px;
  box-sizing: border-box;
  width: 370px;
  height: 433px;
  transition: 0.2s ease background-color, 0.2s ease color;
}

.crypto-item:hover {
  background-color: var(--purple);
  color: var(--white);
}

.crypto-item__button {
  background-color: var(--white);
  font-size: 18px;
  padding: 3px 15px;
  border-radius: 35px;
  font-weight: 500;
  transition: 0.2s ease background-color;
  text-decoration: none;
  color: var(--white);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 205px;
  transition: 0.2s ease background-color;
}

.crypto-item:hover .crypto-item__button {
  background-color: var(--blue);
}

.crypto-item__button-icon {
  background-color: var(--white);
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-image: url(/images/bt_error.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid rgba(43, 7, 110, 0.2);
  transition: 0.2s ease border, 0.2s ease transform;
  margin: 0;
}
.crypto-item:hover .crypto-item__button-icon {
  border: 2px solid var(--white);
  transform: scale(0.7);
}

.crypto-item__button-text {
  font-size: 18px;
  font-weight: 500;
  width: 0px;
  text-align: left;
  transition: 0.2s ease width;
  margin: 18px 0px 18px 5px;
}

.crypto-item:hover .crypto-item__button-text {
  width: 133px;
}

.crypto-item__title {
  font-size: 32px;
  font-weight: 700;
}

.crypto-item__title span {
  font-weight: 500;
  font-size: 18px;
  color: var(--dark);
  opacity: 0.7;
  transition: 0.2s ease color;
}

.crypto-item__description {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #828282;
  line-height: 28px;
}

.crypto-item:hover .crypto-item__description {
  color: var(--white);
}

.crypto-item:hover .crypto-item__title span {
  color: var(--white);
}

.page-gradient {
  background: linear-gradient(180deg, #2b076e 0%, #0d0d2b 100%);
  padding-top: 88px;
}

.form-text__title {
  margin-top: 0;
}

.form {
  padding: 48px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-text__title {
  font-size: 32px;
  font-weight: 700;
}

.form-text__description {
  font-size: 16px;
  letter-spacing: 0.01em;
  max-width: 348px;
  margin: 0;
}
.form-letter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 566px;
}

.form-text {
  flex-grow: 1;
}

.form-letter__input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  width: 100%;
  padding-bottom: 7px;
}

.form-letter__input::placeholder {
  color: var(--white);
}

.form-letter__button {
  border: none;
  background-color: var(--white);
  color: var(--dark);
  padding: 14px 32px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 32px;
  margin-left: 40px;
}

.footer {
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 166px 0px 74px 0px;
  max-width: 1202px;
  margin: 0 auto;
}

.footer-text {
  margin: 0;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.footer-list__item {
  margin-left: 32px;
}
